common --tool_java_runtime_version=remotejdk_17
common --test_output=errors
common --check_direct_dependencies=error

# These settings make it harder for bazel_env to do its job and are here to
# verify it still works.
common --incompatible_disallow_empty_glob
common --incompatible_strict_action_env
common --nolegacy_external_runfiles
common --nobuild_runfile_links
# TODO: Uncomment this when it no longer crashes Bazel
# https://github.com/bazelbuild/bazel/pull/25999
# common --extra_execution_platforms=//:exotic_platform

# Test that the platform suffix still results in expected output directory for tools.
common:macos --platform_suffix=mac
common:linux --platform_suffix=linux
